
<header>
    <div class="wrapper">
        <a href="/">
            <h1>Clavardage en ligne</h1>
        </a>
    </div>
    <form id="utilisateur" class="div" novalidate>
                    
        <input type="text" id="search" required class="input-text">
        <input type="submit" value="Rechercher" class="btnRecherche">
        <div id="searchError" class="error-field"></div>
        </form>
            {{#unless connected}}
                <button class="button-connexion">
                    <a href="/login">Connexion</a>
                </button>
            {{/unless}}

            {{#if connected}}
                <form method="post" action="/logout">
                    <input type="submit" value="Déconnexion" class="button-deconnexion">
                </form>
                    
            {{/if}}
</header>
