<div>
    <h1>Création de compte</h1>
    <form id="compte" class="formulaire" novalidate>
        <label>
            Nom et Prenom: 
            <input type="text" id="textNom" required>
        </label>
        
        <label>
            Adresse email: 
            <input type="text" id="textEmail" required>
        </label>
        
        <label>
            Mot de passe: 
            <input type="current-password" id="textPassword" required>
        </label>
        
        <input type="submit" value="Créer un compte" class="btnCompte">
    </form>

    <p> Vous avez déjà un compte, cliquez <a href="/login">ici</a> pour vous connecter.</p>
</div>