<div>
    <h1>Création de compte</h1>
    <form id="signIn" class="formulaire">
        <label>
            Nom: 
            <input type="text" required>
        </label>
        
        <label>
            Prénom: 
            <input type="text" required>
        </label>
        
        <label>
            Adresse email: 
            <input type="text" required>
        </label>
        
        <label>
            Mot de passe: 
            <input type="password" required>
        </label>
        
        <input type="submit" value="Créer un compte" class="btnCompte">
    </form>

    <p> Vous avez déjà un compte, cliquez <a href="/login">ici</a> pour vous connecter.</p>
</div>