
<h1>Se Connecter</h1>

<form id="formulaire" class="form">
    <label>
        Adresse email:
        <input type="text">
    </label>

    <label>
        Mot de passe:
        <input type="password">
    </label>
    <input type="submit" class="btnConnexion">
</form>

<p> Vous n'avez pas de compte, cliquez <a href="/signUp">ici</a> pour créer votre compte.</p>