
<h1>Se Connecter</h1>

<form id="formConnexion" class="form">
    <label>
        Adresse email:
        <input type="text" id="textEmail">
    </label>

    <label>
        Mot de passe:
        <input type="current-password" id="textPassword">
    </label>
    <input type="submit" class="btnConnexion">
</form>

<p> Vous n'avez pas de compte, cliquez <a href="/compte">ici</a> pour créer votre compte.</p>