.post {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-top: 4rem;
}

.post-top {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-bottom: 5rem;
    gap: 1rem;
}

.post textarea {
    border: 2px solid #4f29b8;
}

.post-top input {
    width: 10rem;
    padding: .5rem;
    border-radius: 25px;
    background-color: #4f29b8;
    color: white;
    cursor: pointer;
    border: none;
}

.post-top input:hover {
    border:1px solid #4f29b8;
    background: none;
    color: #4f29b8;
}

.post-bottom {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px ridge;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0,0,0,.1), 0 8px 16px rgba(0,0,0,.1);
}

.post-bottom-top {
    display: flex;
    justify-content: space-between;
}

.post-bottom-between {
    display: flex;
    justify-content: space-between;
}

.post-bottom-bottom{
    border-top: 1px ridge;
}

.post-bottom-bottom input{
    text-decoration: none;
    border: none;
    background-color: white;
}

.like {
    width: 20px;
    height: 20px;
}