
.btnLinkRechercher a {
    color: #000;
    text-decoration: none;
}

#bouton {
    width: 10rem;
    align-items: center;
    font-weight: bold;
    background-color: #4f29b8;
}

.publication {
    list-style-type: none;
    width: 75%;
    margin: 0 auto;
    font-size: 20px;
    gap: 1rem;
    margin-bottom: 2rem;
    
}

.publication li {
    padding-top: 1rem;
}

.actionUser {
    display: flex;
    align-items: baseline;
    gap: 2rem;
}

.actionUser input {
    border: none;
    background-color: #fff;
    cursor: pointer; 
}

.actionUser input:hover{
    background-color: #4f29b8;
    border-radius: 3px;
}
#textPoste {
    border: 2px ridge;
}
#formulaire {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    max-width: 50rem;
    margin-bottom: 2rem;
    
}

.postes {
    border-top: 1px ridge;
}

.like {
    width: 20px;
    height: 20px;
}

.error {
    border: 2px solid #a00
}

.error-field {
    display: none;
    color: #a00;
    font-style: italic;
}

.error-field.active {
    display: block;
}
