
#Glyph {
    width: 30px;
}

#search{
    width: 50%;
    height: 2rem;
    border: 3px solid;
    border-radius: 20px;
}

.nameUser {
    list-style-type: none;
}

.btnRecherche{
    background-color: rgb(126, 122, 122);;
    font-size: 20px;
    border: 2px solid;
    width: 10rem;
    text-align: center;
    font-weight: bold;
}

.error {
    border: 2px solid #a00
}

.error-field {
    margin-left: 10rem;
    margin-top: 1rem;
    display: none;
    color: #a00;
    font-style: italic;
}

.error-field.active {
    display: block;
}
